In [1]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

# Lire le fichier Excel
df = pd.read_excel("base_données_stat.xlsx", engine='openpyxl')

# Afficher les 5 premières lignes
df.head()

,today,code,enfant,sexe,religion,etat_civilmere,niveau_mere,niveau_pere,ecran_possede,age_debutecran,...,retard_elocution,minerval,agechronokabc_annee,seq_stdr,sim_stdr,lear_stdr,plan_stdr,del_rec,mpi_stand,nvi_stand
0,2023-03-25,1,TsMuKe,0,6,2,0,2.0,1,0,...,0.0,1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-11-04,2,MaWiMa,1,6,0,2,3.0,1,1,...,0.0,2,10,109.0,74.0,92.0,85.0,97.0,86.0,77.0
2,2022-11-08,3,VaCaNo,1,6,0,3,3.0,1,1,...,1.0,3,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-03-25,4,BoLuEp,1,6,3,0,0.0,1,1,...,1.0,1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-11-08,5,LaMiSu,1,1,2,3,3.0,1,1,...,1.0,3,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()
df.info()
df['colonne_interessante'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   today                58 non-null     datetime64[ns]
 1   code                 58 non-null     int64
 2   enfant               58 non-null     object
 3   sexe                 58 non-null     int64
 4   religion             58 non-null     int64
 5   etat_civilmere       58 non-null     int64
 6   niveau_mere          58 non-null     int64
 7   niveau_pere          56 non-null     float64
 8   ecran_possede        58 non-null     int64
 9   age_debutecran       58 non-null     int64
 10  temps_jours          57 non-null     float64
 11  temps_weekend        57 non-null     float64
 12  jouer                58 non-null     int64
 13  dessiner             58 non-null     int64
 14  passerdutemps        58 non-null     int64
 15  lire                 58 non-null     int64
 16  interet_interagir    58 non-null     int64
 17  retard_elocution     57 non-null     float64
 18  minerval             58 non-null     int64
 19  agechronokabc_annee  58 non-null     int64
 20  seq_stdr             36 non-null     float64
 21  sim_stdr             36 non-null     float64
 22  lear_stdr            36 non-null     float64
 23  plan_stdr            35 non-null     float64
 24  del_rec              36 non-null     float64
 25  mpi_stand            36 non-null     float64
 26  nvi_stand            36 non-null     float64
dtypes: datetime64[ns](1), float64(11), int64(14), object(1)
memory usage: 12.4+ KB

KeyError: 'colonne_interessante'

## Dictionnaire des variables

- **sexe** : 0 = Femme, 1 = Homme  
- **agechronokabc_annee** : âge de l’enfant en années  
- **niveau_mere** : 0 = analphabète, 1 = primaire, 2 = secondaire, 3 = supérieur
- **retard_elocution** : 0 = Non, 1 = Oui
- **age_debutecran** : 0 = 0 à 2 ans, 1 = 3 à 5 ans, 2 = 6 à 8 ans

In [4]:
df['sexe'].value_counts()

sexe
1    33
0    25
Name: count, dtype: int64

In [5]:

df['sexe'] = df['sexe'].map({0: 'Femme', 1: 'Homme'})
df['sexe'].value_counts()

sexe
Homme    33
Femme    25
Name: count, dtype: int64

In [6]:
df['sexe'].value_counts(normalize=True) * 100

sexe
Homme    56.896552
Femme    43.103448
Name: proportion, dtype: float64

In [7]:
frequences = pd.DataFrame({
    'Effectifs': df['sexe'].value_counts(),
    'Pourcentages (%)': df['sexe'].value_counts(normalize=True) * 100
})

frequences

       Effectifs  Pourcentages (%)
sexe
Homme         33         56.896552
Femme         25         43.103448

In [8]:
df['niveau_mere'] = df['niveau_mere'].map({0: 'Analphabète', 1: 'Primaire', 2: 'Secondaire', 3: 'Supérieur'})

frequences = pd.DataFrame({
    'Effectifs': df['niveau_mere'].value_counts(),
    'Pourcentages (%)': df['niveau_mere'].value_counts(normalize=True) * 100
})

frequences

             Effectifs  Pourcentages (%)
niveau_mere
Analphabète         31         53.448276
Supérieur           15         25.862069
Secondaire          10         17.241379
Primaire             2          3.448276

In [9]:
pd.crosstab(df['sexe'], df['age_debutecran'], normalize='index') * 100

age_debutecran         0          1    2
sexe
Femme           4.000000  92.000000  4.0
Homme           9.090909  90.909091  0.0

In [10]:
df['age_debutecran'] = df['age_debutecran'].map({0: '0 à 2 ans', 1: '3 à 5 ans', 2: '6 à 8 ans'})
pd.crosstab(df['sexe'], df['age_debutecran'], normalize='index') * 100

age_debutecran  0 à 2 ans  3 à 5 ans  6 à 8 ans
sexe
Femme            4.000000  92.000000        4.0
Homme            9.090909  90.909091        0.0

In [11]:
df['age_debutecran'].value_counts(normalize=True) * 100

age_debutecran
3 à 5 ans    91.379310
0 à 2 ans     6.896552
6 à 8 ans     1.724138
Name: proportion, dtype: float64

In [12]:
df['age_debutecran'] = df['age_debutecran'].map({0: '3 à 5 ans', 1: '0 à 2 ans', 2: '6 à 8 ans'})
df['age_debutecran'].value_counts(normalize=True) * 100

Series([], Name: proportion, dtype: float64)

In [13]:

df['sexe'] = df['sexe'].map({0: 'Femme', 1: 'Homme'})
df['retard_elocution'] = df['retard_elocution'].map({0: 'Non', 1: 'Oui'})


pd.crosstab(df['sexe'], df['retard_elocution'], margins=True)

Empty DataFrame
Columns: []
Index: []